<form>
    <div style="margin-top: 20px; margin-bottom: 10px">
        <span>Заказчик:</span><select class="filter-select" column="Customer" style="width: 200px"></select>
    </div>
    <div style="margin-top: 20px; margin-bottom: 10px">
        <span>Место назначения:</span><select class="filter-select" column="Destination" style="width: 200px"></select>
    </div>
    @*<button id="getResult" type="button">Найти</button>*@
    <input type="button" id="getResult" value="Найти" class="btn btn-primary" />
    <input type="button" id="btnExport" value="Export" class="btn btn-success" />
    <div id="results">

    </div>
</form>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var selects = $('.filter-select').select2({
                ajax: {
                    type: 'POST',
                    url: '/ReportGenerator/GetFilteredResult',
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    text: item.value,
                                    id: item.value
                                }
                            })
                        };
                    },
                    data: function (params) {
                        var that = this;
                        params.filters = JSON.parse(JSON.stringify(filters));
                        var existingFilter = params.filters.find(function (filter) {
                            return filter.column === $(that).attr('column');
                        });
                        if (existingFilter) {
                            existingFilter.value = params.term;
                            existingFilter.editing = true;
                        } else {
                            params.filters.push({ column: $(this).attr('column'), value: params.term, editing: true });
                        }
                        return { filters: params.filters };
                    },
                    dataType: 'json'
                },
                allowClear: true,
                placeholder: 'Введите фильтр'
                //minimumInputLength: 2
            });

            var filters = [];

            selects.on('select2:select', function (e) {
                var that = this;
                var existingFilter = filters.find(function (filter) {
                    return filter.column === $(that).attr('column');
                });
                if (existingFilter) {
                    existingFilter.value = $(this).val();
                } else {
                    filters.push({ column: $(this).attr('column'), value: $(this).val() });
                }
            });

            selects.on('select2:unselect', function (e) {
                for (var i = filters.length - 1; i >= 0; --i) {
                    if (filters[i].column == $(this).attr('column')) {
                        filters.splice(i, 1);
                    }
                }
            })

            $('#getResult').click(function () {
                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    url: '/ReportGenerator/GetFilteredResult',
                    data: $('form').serialize(),
                    success: function (res, textStatus, jqXHR) {
                        $("#results").html(res);
                    }
                });
            });
        });
       
        //$(document).ready(function () {

        //    $('#btnExport').click(function () {

        //        window.location = '/ExportInventory';

        //    });
        //});

    </script>

}
