<form>
    <div style="margin-bottom: 10px; margin-top: 20px">
        <label for="customer">Заказчик</label>
        <input name="customer" id="customer" />
    </div>
    <div>
        <label for="destination">Пункт назначения</label>
        <input name="destination" id="destination" />
    </div>
    <div>
        <label for="departure">Станция отправления</label>
        <input name="departure" id="departure" />
    </div>
    <button id="getResult" type="button">Найти</button>
    <table id="results">
        <thead>
        </thead>
        <tbody></tbody>
    </table>
</form>

@section Scripts {
    <script type="text/javascript">

        //небольшой кусочек кода, чтобы получать новые результаты после нажатия на Enter
        $(document).keyup(function (e) {
            //отлавливаем нажатие кнопки Enter
            if (e.keyCode === 13) {
                $('#getResult').click();
            }

        $('#getResult').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: './ReportGenerator/GetFilteredResult',
                data: $('form').serialize(),
                success: function (res, textStatus, jqXHR) {
                    var thead = '';
                    var headContent = '';
                    var tbody = '';
                    res.forEach(function (record, index) {
                        for (var prop in record) {
                            //заполняем шапку однократно на основании первой записи
                            if (index === 0) {
                                thead += `<th>${prop}</th>`
                            }
                            tbody += `<td>${record[prop]}</td>`
                        }
                        if (index === 0) {
                            thead = `<tr>${thead}</tr>`;
                        }
                        tbody = `<tr>${tbody}</tr>`;
                    });
                    $('#results thead').html(thead);
                    $('#results tbody').html(tbody);
                }
            });
        });

    </script>
}
