@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ошибка!";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">В процессе обработки вашего запроса произошла ошибка, пожалуйста, обратитесь в IT отдел. Телефон 225 83 09</h2>
